
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">


  <ul class="navbar-nav">

   

      <a class="navbar-brand" href="#">

          
        </a>

         <img src="assets/images/logo.png" width="150px" height="100px">          


      <a routerLink="users" class="nav-link" routerLinkActive="active"><b>Sign Up</b></a>

    

    

      <a routerLink="login" class="nav-link" routerLinkActive="active"><b>Sign In</b></a>

           

 <a routerLink="home" class="nav-link" routerLinkActive="active"><b>Home</b></a>
<a routerLink="Admin" class="nav-link" routerLinkActive="active"><b>Admin</b></a> &nbsp; &nbsp;
      <a class="nav-link" routerLinkActive="active"routerLink="products"><b>All Products</b></a>
      <div class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <b>Category</b>
                                    </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" routerLink="products1">Mobiles</a>
                                        <a class="dropdown-item" routerLink="products2">Smart Watches</a>
                                        <a class="dropdown-item" routerLink="products3">Laptops</a>
                                        <a class="dropdown-item" routerLink="products4">Cameras</a>
                                    </div>
                                  </div>
                                  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <img src="assets/images/out.png" width="50" height="50">
<a class=" nav-link" href="login"><b>Logout</b></a>
</ul>

  

</nav>

<div class="container-flex">

  

      <router-outlet></router-outlet>

  

  

</div>





<!-- <footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2020</span>
  </div>
  
</footer> -->